<!------
  /------------------
// Big SVG hero Name
//-------------------
//
// If you want to change your name you will have to recreate it
// in Figma or any other way you can export text as SVG
// After you have exported it, you have to remove the size atributes from the SVG
// this will allow the SVG become fill width and full heigh. It will also be responsive.
--- -->
<section class="bg-primary">
  <div
    class="px-8 2xl:max-w-7xl mx-auto pt-12"
    data-aos="fade-up"
    data-aos-duration="2000">
    <h1> AI LAB GENDER</h1>
  </div>
  <div class="px-8 2xl:max-w-7xl mx-auto pb-12">
    <div class="mt-6 space-y-2">
      <div
        class="h-0.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="1000">
      </div>
      <div
        class="flex flex-col sm:flex-row gap-3 justify-between items-center"
        data-aos="fade-up"
        data-aos-duration="1500">
        <div class="flex gap-3 items-center">
          <h3 class="text-secondary text-xs font-medium">
            <span>UI Designer</span>
            <span class="font-bold">Front end dev</span>
            <span class="italic">Freelancer</span>
          </h3>
          <span class="h-auto border-secondary border"></span>
          <span class="text-secondary text-xs font-semibold"
            >Available for work</span
          >
        </div>
        <div>
          <ul class="items-center inline-flex gap-3 relative">
            <li>
              <a
                href="https://github.com/michael-andreuzza"
                class="hover:text-secondary/80 text-secondary"
                >
                </a
              >
            </li><li>
              <a
                href="https://dribbble.com/MichaelAndreuzza"
                class="hover:text-secondary/80 text-secondary"
                ></a
              >
            </li><li>
              <a
                href="https://twitter.com/Mike_Andreuzza"
                class="hover:text-secondary/80 text-secondary"
                ></a
              >
            </li><li>
              <a
                href="mailto:michael@andreuzza.com"
                class="hover:text-secondary/80 text-secondary"
                ></a
              >
            </li>
          </ul>
        </div>
      </div>
      <div
        class="h-1.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="2000">
      </div>
      <div class="h-3 bg-secondary" data-aos="fade-up" data-aos-duration="2500">
      </div>
      <div class="h-6 bg-secondary" data-aos="fade-up" data-aos-duration="3000">
      </div>
      <div
        class="h-12 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="3000">
      </div>
      <div
        class="h-24 bg-secondary flex items-end p-4"
        data-aos="fade-up"
        data-aos-duration="3000"
        data-aos-delay="150">
      </div>
      <div class="flex w-full">
        <span class="text-xs font-medium text-secondary flex"
          >See more templates on &nbsp;<a
            class="hover:text-black duration-200 font-bold"
            href="https://lexingtonthemes.com/">Lexington Themes</a
          ></span
        >
        <span class="text-xs font-medium text-secondary flex ml-auto"
          >Get it on &nbsp;<a
            class="hover:text-black text-secondary duration-200 font-bold"
            href="https://github.com/michael-andreuzza/swissfolio">GitHub</a
          ></span
        >
      </div>
    </div>
  </div>
</section>
